@model Movie

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Movie</h4>
    <hr/>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)</dt>
        <dd>
            @Html.DisplayFor(model => model.Title)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)</dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)</dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)</dt>
        <dd>
            @Html.DisplayFor(model => model.Price)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)</dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)</dd>
    </dl>

    <form asp-action="Delete" method="POST">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index">Back to list</a>
    </form>
</div>