<ul class="navbar-nav"> 
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark">Hello @User.Identity.Name </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Logout" asp-controller="Account">Logout</a>
    </li>
} 
else 
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Login</a>
    </li>
}
</ul>
