@using System.Security.Claims;

<ul class="navbar-nav"> 
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark">Hello
        <b>@User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()</b>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Logout" asp-controller="Account">Logout</a>
    </li>
} 
else 
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Login</a>
    </li>
}
</ul>
